.logo {
    color: #02b3e4;
    font-size: 68px;
}


.header {
    text-transform: uppercase;
    font-weight: 200;
}


.sub-header {
    text-transform: uppercase;
    padding-left: 8%;
    font-weight: 100;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


footer {
    background: #f2f2f2;
    padding: 25px;
}


.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
}


.right-header {
    padding-left: 26%;
}


.featured {
    font-size: 30px;
    font-weight: 200;
}


a:link {
    text-decoration: none;
}


.image-size{
    width: 304px;
    height: 236px;
}


.github-icon{
    font-size: 44px;
    color: black;
}


.github-icon:hover{
    color: #02b3e4;
}